<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
    <add key="FCKEditor:BasePath" value="~/fckeditor/" />
    <add key="FCKEditor:UserFilesPath" value="http://localhost:9946/fck_img/" />
    <add key="FCKEditor:UserFilesAbsolutePath" value="fck_img\" />
  </appSettings>
  <connectionStrings>
    <add name="DB1" connectionString="Data Source=.;Initial Catalog=advance;Integrated Security=true;;Max Pool Size=300;Connect Timeout=120"/>
  </connectionStrings>
</configuration>